flow.json
[
    {
        "id": "f1",
        "type": "tab",
        "label": "Victron Relay Control",
        "disabled": false,
        "info": "Flow amb exemples de control de relés Victron per Venus OS"
    },
    {
        "id": "switch-relay0",
        "type": "ui_switch",
        "z": "f1",
        "name": "Relay 0 Control",
        "label": "RELAY 0 (Venus OS)",
        "tooltip": "",
        "group": "group-relays",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "relay0",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "relay0-output"
            ]
        ]
    },
    {
        "id": "relay0-output",
        "type": "victron-output-relay",
        "z": "f1",
        "service": "com.victronenergy.system",
        "path": "/Relay/0/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/0/State",
            "type": "enum",
            "name": "Relay 0 state"
        },
        "name": "Relay 0 Output",
        "onlyChanges": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "relay0-status"
            ]
        ]
    },
    {
        "id": "relay0-input",
        "type": "victron-input-relay",
        "z": "f1",
        "service": "com.victronenergy.system",
        "path": "/Relay/0/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/0/State",
            "type": "enum",
            "name": "Relay 0 state"
        },
        "name": "Relay 0 Status",
        "onlyChanges": false,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "relay0-status",
                "debug-relay0"
            ]
        ]
    },
    {
        "id": "relay0-status",
        "type": "ui_led",
        "z": "f1",
        "order": 2,
        "group": "group-relays",
        "width": 2,
        "height": 1,
        "label": "Status R0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00ff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Relay 0 LED",
        "x": 580,
        "y": 110,
        "wires": []
    },
    {
        "id": "switch-relay1",
        "type": "ui_switch",
        "z": "f1",
        "name": "Relay 1 Control",
        "label": "RELAY 1 (Venus OS)",
        "tooltip": "",
        "group": "group-relays",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "relay1",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "relay1-output"
            ]
        ]
    },
    {
        "id": "relay1-output",
        "type": "victron-output-relay",
        "z": "f1",
        "service": "com.victronenergy.system",
        "path": "/Relay/1/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/1/State",
            "type": "enum",
            "name": "Relay 1 state"
        },
        "name": "Relay 1 Output",
        "onlyChanges": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "relay1-status"
            ]
        ]
    },
    {
        "id": "relay1-input",
        "type": "victron-input-relay",
        "z": "f1",
        "service": "com.victronenergy.system",
        "path": "/Relay/1/State",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Relay/1/State",
            "type": "enum",
            "name": "Relay 1 state"
        },
        "name": "Relay 1 Status",
        "onlyChanges": false,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "relay1-status",
                "debug-relay1"
            ]
        ]
    },
    {
        "id": "relay1-status",
        "type": "ui_led",
        "z": "f1",
        "order": 4,
        "group": "group-relays",
        "width": 2,
        "height": 1,
        "label": "Status R1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#00ff00",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Relay 1 LED",
        "x": 580,
        "y": 230,
        "wires": []
    },
    {
        "id": "debug-relay0",
        "type": "debug",
        "z": "f1",
        "name": "Debug Relay 0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug-relay1",
        "type": "debug",
        "z": "f1",
        "name": "Debug Relay 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "inject-test0",
        "type": "inject",
        "z": "f1",
        "name": "Test Relay 0 ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "relay0-output"
            ]
        ]
    },
    {
        "id": "inject-test1",
        "type": "inject",
        "z": "f1",
        "name": "Test Relay 0 OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "relay0-output"
            ]
        ]
    },
    {
        "id": "function-formatter",
        "type": "function",
        "z": "f1",
        "name": "Format Relay State",
        "func": "// Formateja l'estat del relé per mostrar-lo\nconst state = msg.payload;\nconst relayName = msg.topic || 'Relay';\n\n// Converteix l'estat a text llegible\nif (state === 1 || state === \"1\" || state === true) {\n    msg.payload = {\n        state: 1,\n        text: \"ACTIU\",\n        color: \"green\",\n        relay: relayName\n    };\n} else {\n    msg.payload = {\n        state: 0,\n        text: \"INACTIU\", \n        color: \"red\",\n        relay: relayName\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "debug-formatter"
            ]
        ]
    },
    {
        "id": "debug-formatter",
        "type": "debug",
        "z": "f1",
        "name": "Formatted Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "group-relays",
        "type": "ui_group",
        "name": "Control de Relés Victron",
        "tab": "tab-victron",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab-victron",
        "type": "ui_tab",
        "name": "Victron Venus OS",
        "icon": "fa-bolt",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]